In [2]:
import pandas as pd
import numpy as np

In [8]:
%ls data\seoul_bike\

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 3A05-3AA6

 C:\Users\kosta\Desktop\새 폴더\data_science\data\seoul_bike 디렉터리

2018-12-20  오전 11:13    <DIR>          .
2018-12-20  오전 11:13    <DIR>          ..
2018-12-17  오전 04:01           190,636 bike_rent_station.csv
2018-12-18  오전 11:53        98,207,163 서울특별시 공공자전거 대여이력 정보_2018년_1분기1.csv
2018-12-18  오전 11:53        84,976,795 서울특별시 공공자전거 대여이력 정보_2018년_2분기_1.csv
2018-12-18  오전 11:52       119,418,810 서울특별시 공공자전거 대여이력 정보_2018년_2분기_2.csv
2018-12-18  오전 11:53        71,135,025 서울특별시 공공자전거 대여이력 정보_2018년_2분기_3.csv
2018-12-18  오전 11:52        73,556,846 서울특별시 공공자전거 대여이력 정보_2018년_2분기_4.csv
               6개 파일         447,485,275 바이트
               2개 디렉터리  916,850,827,264 바이트 남음

In [3]:
folder_path = "data\\seoul_bike\\"
folder_path

'data\\seoul_bike\\'

In [12]:
import os

file_lists = []
for root, dirs, files in os.walk(folder_path):  
    for filename in files:
        if filename.startswith('서울특별시 공공자전거 대여이력 정보_2018년') :
            file_lists.append(filename)
            
file_lists

['서울특별시 공공자전거 대여이력 정보_2018년_1분기1.csv',
 '서울특별시 공공자전거 대여이력 정보_2018년_2분기_1.csv',
 '서울특별시 공공자전거 대여이력 정보_2018년_2분기_2.csv',
 '서울특별시 공공자전거 대여이력 정보_2018년_2분기_3.csv',
 '서울특별시 공공자전거 대여이력 정보_2018년_2분기_4.csv']

In [13]:
df1_1 = pd.read_csv(folder_path+'서울특별시 공공자전거 대여이력 정보_2018년_1분기1.csv', encoding='cp949',engine='python')
df1_1.shape

(784734, 11)

In [14]:
df1_1.head()

,'자전거번호','대여일시','대여대여소번호','대여대여소명','대여거치대','반납일시','반납대여소번호','반납대여소명','반납거치대','이용시간(분)','이용거리(M)'
0,'SPB-02041','2018-01-01 00:00:10','227',' 양평2나들목 보행통로 입구',9,'2018-01-01 00:04:03','227',' 양평2나들목 보행통로 입구',9,3,50
1,'SPB-03796','2018-01-01 00:00:42','2219',"' 고속터미널역 8-1번, 8-2번 출구 사이'",15,'2018-01-01 00:25:41','3511',' 응봉역 1번출구',9,24,7670
2,'SPB-02402','2018-01-01 00:00:58','567',' 성수역 2번출구 앞',13,'2018-01-01 00:09:33','3506',' 영동대교 북단',2,8,1390
3,'SPB-01564','2018-01-01 00:01:02','568',' 청계8가사거리 부근',5,'2018-01-01 00:10:13','521',' 왕십리역 11번 출구 앞',9,8,1820
4,'SPB-05713','2018-01-01 00:01:03','361',' 동묘앞역 1번출구 뒤',4,'2018-01-01 00:06:18','383',' 신당역 12번 출구 뒤',8,4,850

In [18]:
df2_1 = pd.read_csv(folder_path+'서울특별시 공공자전거 대여이력 정보_2018년_2분기_1.csv', encoding='cp949', engine='python')
df2_1.shape

(677878, 11)

In [19]:
df2_2 = pd.read_csv(folder_path+'서울특별시 공공자전거 대여이력 정보_2018년_2분기_2.csv', engine='python')
df2_2.shape

(951446, 11)

In [9]:
df2_3 = pd.read_csv(folder_path+'서울특별시 공공자전거 대여이력 정보_2018년_2분기_3.csv', encoding='cp949', engine='python')
df2_3.shape

(566859, 11)

In [21]:
df2_4 = pd.read_csv(folder_path+'서울특별시 공공자전거 대여이력 정보_2018년_2분기_4.csv', encoding='cp949', engine='python')
df2_4.shape

(586304, 11)

In [22]:
df = pd.concat([df1_1, df2_1, df2_2, df2_3, df2_4])
df.shape

(3567221, 11)

In [24]:
# 컬럼에 있는 '를 제거한다.
df.columns = df.columns.str.strip("'")

In [25]:
# 불필요하게 '가 들어가 있다. 스트링 타입으로 되어있는 데이터에서 '을 제거하자.
df.columns = df.columns.str.strip("'")
%time df = df.apply(lambda x: x.str.strip("'") if x.dtype == np.dtype('object') else x)

Wall time: 13.6 s

In [27]:
df.to_csv('seoul-bike-2018.csv', index=False)

In [15]:
df_2018 = pd.read_csv('data/seoul-bike-2018.csv')
print(df_2018.shape)
df_2018.head()

(3567221, 11)

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간(분),이용거리(M)
0,SPB-02041,2018-01-01 00:00:10,227,양평2나들목 보행통로 입구,9,2018-01-01 00:04:03,227,양평2나들목 보행통로 입구,9,3,50
1,SPB-03796,2018-01-01 00:00:42,2219,"고속터미널역 8-1번, 8-2번 출구 사이",15,2018-01-01 00:25:41,3511,응봉역 1번출구,9,24,7670
2,SPB-02402,2018-01-01 00:00:58,567,성수역 2번출구 앞,13,2018-01-01 00:09:33,3506,영동대교 북단,2,8,1390
3,SPB-01564,2018-01-01 00:01:02,568,청계8가사거리 부근,5,2018-01-01 00:10:13,521,왕십리역 11번 출구 앞,9,8,1820
4,SPB-05713,2018-01-01 00:01:03,361,동묘앞역 1번출구 뒤,4,2018-01-01 00:06:18,383,신당역 12번 출구 뒤,8,4,850

In [4]:
df2_2 = pd.read_csv(folder_path+'서울특별시 공공자전거 대여이력 정보_2018년_2분기_2.csv', engine='python')

In [10]:
df = df2_3
df.shape
data = df2_3
data

# 불필요하게 '가 들어가 있다. 스트링 타입으로 되어있는 데이터에서 '을 제거하자.
data.columns = data.columns.str.strip("'")
%time df = data.apply(lambda x: x.str.strip("'") if x.dtype == np.dtype('object') else x)

Wall time: 1.92 s

In [11]:
df.shape

(566859, 11)

In [35]:
#warning 문구 출력 되지 않도록 하기
import warnings as warn

In [37]:
warn.simplefilter(action='ignore',category=FutureWarning)

In [39]:
#plotline  설치
!pip install plotnine

Requirement already satisfied: plotnine in c:\users\kosta\anaconda3\lib\site-packages (0.5.1)
Requirement already satisfied: numpy in c:\users\kosta\anaconda3\lib\site-packages (from plotnine) (1.14.3)
Requirement already satisfied: pandas>=0.23.4 in c:\users\kosta\anaconda3\lib\site-packages (from plotnine) (0.23.4)
Requirement already satisfied: patsy>=0.4.1 in c:\users\kosta\anaconda3\lib\site-packages (from plotnine) (0.5.0)
Requirement already satisfied: descartes>=1.1.0 in c:\users\kosta\anaconda3\lib\site-packages (from plotnine) (1.1.0)
Requirement already satisfied: statsmodels>=0.8.0 in c:\users\kosta\anaconda3\lib\site-packages (from plotnine) (0.9.0)
Requirement already satisfied: mizani>=0.5.2 in c:\users\kosta\anaconda3\lib\site-packages (from plotnine) (0.5.2)
Requirement already satisfied: scipy>=1.0.0 in c:\users\kosta\anaconda3\lib\site-packages (from plotnine) (1.1.0)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\kosta\anaconda3\lib\site-packages (from plotnine) (3.0.2)
Requirement already satisfied: pytz>=2011k in c:\users\kosta\anaconda3\lib\site-packages (from pandas>=0.23.4->plotnine) (2018.4)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\kosta\anaconda3\lib\site-packages (from pandas>=0.23.4->plotnine) (2.7.3)
Requirement already satisfied: six in c:\users\kosta\anaconda3\lib\site-packages (from patsy>=0.4.1->plotnine) (1.11.0)
Requirement already satisfied: palettable in c:\users\kosta\anaconda3\lib\site-packages (from mizani>=0.5.2->plotnine) (3.1.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\kosta\anaconda3\lib\site-packages (from matplotlib>=3.0.0->plotnine) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\kosta\anaconda3\lib\site-packages (from matplotlib>=3.0.0->plotnine) (2.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\kosta\anaconda3\lib\site-packages (from matplotlib>=3.0.0->plotnine) (0.10.0)
Requirement already satisfied: setuptools in c:\users\kosta\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib>=3.0.0->plotnine) (39.1.0)

In [43]:
!pip show plotnine
#설치할때 public으로 설정하면 cmd참도 관리자권한으로 실행함

Name: plotnine
Version: 0.5.1
Summary: A grammar of graphics for python
Home-page: https://github.com/has2k1/plotnine
Author: None
Author-email: None
License: GPL-2
Location: c:\users\kosta\anaconda3\lib\site-packages
Requires: scipy, mizani, matplotlib, numpy, pandas, descartes, statsmodels, patsy
Required-by:

In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib
from matplotlib import *
from plotnine import *

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566859 entries, 0 to 566858
Data columns (total 11 columns):
자전거번호      566859 non-null object
대여일시       566859 non-null object
대여대여소번호    566859 non-null object
대여대여소명     566859 non-null object
대여거치대      566859 non-null int64
반납일시       566859 non-null object
반납대여소번호    566859 non-null object
반납대여소명     566859 non-null object
반납거치대      566859 non-null int64
이용시간(분)    566859 non-null int64
이용거리(M)    566859 non-null int64
dtypes: int64(4), object(7)
memory usage: 47.6+ MB

In [16]:
df.describe()

               대여거치대          반납거치대        이용시간(분)        이용거리(M)
count  566859.000000  566859.000000  566859.000000  566859.000000
mean        7.046213       6.996652      30.152867    4720.542992
std         5.258131       5.241087      30.998826    7722.005168
min         1.000000       1.000000       2.000000       0.000000
25%         3.000000       3.000000       9.000000    1340.000000
50%         6.000000       6.000000      19.000000    2600.000000
75%        10.000000      10.000000      42.000000    5420.000000
max        40.000000      40.000000    1468.000000  255910.000000

In [19]:
df.describe(include=np.object)

,자전거번호,대여일시,대여대여소번호,대여대여소명,반납일시,반납대여소번호,반납대여소명
count,566859,566859,566859,566859,566859,566859,566859
unique,12375,415920,1269,1269,417029,1270,1270
top,SPB-10702,2018-06-15 18:45:43,207,여의나루역 1번출구 앞,2018-06-15 18:47:37,502,뚝섬유원지역 1번출구 앞
freq,127,48,4217,4217,22,4227,4227

In [24]:

df.tail(2)

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간(분),이용거리(M)
566857,SPB-09282,2018-06-15 23:59:55,1703,도봉산광역환승센터앞,10,2018-06-16 00:53:15,650,중랑교사거리,6,50,12160
566858,SPB-06087,2018-06-15 23:59:59,818,숙명여대 입구 교차로,2,2018-06-16 00:06:35,820,청파동입구 교차로,6,6,710

In [29]:
#결측치 (null data)  확인
df.isnull().sum()

자전거번호      0
대여일시       0
대여대여소번호    0
대여대여소명     0
대여거치대      0
반납일시       0
반납대여소번호    0
반납대여소명     0
반납거치대      0
이용시간(분)    0
이용거리(M)    0
dtype: int64

In [33]:
print ('대여대여소갯수', df['대여대여소번호'].unique().shape[0] )
print ('반납대여소갯수', df['반납대여소번호'].unique().shape[0] )

대여대여소갯수 1269
반납대여소갯수 1270

In [36]:
df['대여대여소명'].value_counts().head(10)

 여의나루역 1번출구 앞               4217
 뚝섬유원지역 1번출구 앞              3589
 홍대입구역 2번출구 앞               2998
 롯데월드타워(잠실역2번출구 쪽)          2691
 봉림교 교통섬                    2638
 고속터미널역 8-1번, 8-2번 출구 사이    2508
 마포구민체육센터 앞                 2342
 건국대학교 (입학정보관)              1969
 안암로터리 버스정류장 앞              1895
 신도림역 1번 출구 앞               1859
Name: 대여대여소명, dtype: int64

In [37]:
df['반납대여소명'].value_counts().head(10)

 뚝섬유원지역 1번출구 앞              4227
 여의나루역 1번출구 앞               4040
 홍대입구역 2번출구 앞               3708
 롯데월드타워(잠실역2번출구 쪽)          2715
 봉림교 교통섬                    2712
 마포구민체육센터 앞                 2660
 고속터미널역 8-1번, 8-2번 출구 사이    2532
 안암로터리 버스정류장 앞              2178
 CJ 드림시티                    2107
 건국대학교 (입학정보관)              2031
Name: 반납대여소명, dtype: int64

In [56]:
df.groupby('대여대여소명')['이용거리(M)'].mean().reset_index()\
.sort_values(by='이용거리(M)', ascending=True).reset_index(drop=True).head(10)

          대여대여소명      이용거리(M)
0       상암센터 정비실  1973.333333
1       신내역 4번출구  1996.911765
2          국군복지단  2078.120301
3    참새공원(백곡경노당)  2117.631579
4         고덕초등학교  2281.025641
5      한성대7번출구 앞  2290.807175
6     서울보증보험본사 앞  2335.540839
7   신한은행 안국역지점 옆  2413.400000
8       녹번역 4번출구  2493.542234
9   신정3동 현장민원실 앞  2499.484536